<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Headers "Authorization, Content-Type, X-Auth-Token"
</IfModule>
